.questionContainer{
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input:focus{
  outline: none;
}

.button:hover{
  font-size: 1.2em;
}

.button:active{
  color:black;
}
